* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [18]:
2 + 2

4

In [19]:
50 - 5*6

20

In [20]:
(50 - 5*6) / 4.0

5.0

In [21]:
17 % 3  # the % operator returns the remainder of the division

2

In [22]:
5 * 3 + 2  # result * divisor + remainder

17

In [23]:
5 ** 2  # 5 squared

25

In [24]:
2 ** 7  # 2 to the power of 7

128

In [27]:
# In Python 3.x
17 / 3  # classic division returns a float

5.666666666666667

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [28]:
'spam eggs'

'spam eggs'

In [30]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [31]:
"doesn't"  # ...or use double quotes instead

"doesn't"

### Printing

In [32]:
print("""\
This is an example of comment
with multiple lines.
""")

This is an example of comment
with multiple lines.

In [34]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'
'unununium'

'unununium'

In [35]:
x = 'hello world'

In [36]:
x

'hello world'

In [37]:
print(x)

hello world

In [38]:
num = 12
name = 'Sam'

In [39]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [40]:
# You can reverse the order but using 0, 1 to refer the right order
print('My number is: {1}, and my name is: {0}'.format(name,num))

My number is: 12, and my name is: Sam

In [41]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Python Index for Strings

In [43]:
word = 'python'

In [45]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'py'

In [46]:
word[:2]  # If starting point is 0, can be neglected

'py'

In [47]:
word[-2:]  # characters from the second-last (included) to the end

'on'

### Lists

In [49]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [51]:
a=[1,2,'string',['x','y'],('x',1)]

In [59]:
squares = [1, 4, 10, 16, 25]
print(squares)
squares[2] = 9 
print(squares)

[1, 4, 10, 16, 25]
[1, 4, 9, 16, 25]

In [60]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
squares.append(36)
squares

[1, 4, 9, 16, 25, 36]

In [63]:
my_list = ['a','b','c','d']

In [64]:
my_list

['a', 'b', 'c', 'd']

In [65]:
my_list[0]

'a'

In [66]:
my_list[1]

'b'

In [33]:
my_list[1:] # Start with the 1st one to end

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### List Comprehension

In [71]:
squares = []
for i in range(6):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25]

In [72]:
squares = [i**2 for i in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [86]:
import math
a = [0, 3423,1,343, 4,23, 9,546, 16,656, 25] 
squares = [i for i in a if math.sqrt(i).is_integer()]
print(squares)

[0, 1, 4, 9, 16, 25]

In [94]:
max = 100
primes = [num for num in range(2,max) if 0 not in [num%i for i in range(2,math.floor(math.sqrt(num))+1)]]
print (primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [13]:
t = (1,2,3)

In [14]:
t[0]

1

In [15]:
t[0] = 'NEW' # Will trigger an error, since Tuples is immutable

TypeError: 'tuple' object does not support item assignment

### Sets

In [16]:
{1,2,3}

{1, 2, 3}

In [17]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [1]:
x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [3]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

## for Loops

In [5]:
words = ['cat', 'window', 'defenestrate']

In [6]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [7]:
for i in range(3):
    print(i)

0
1
2

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## functions

In [8]:
def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [9]:
fib

In [11]:
fib(10)

0 1 1 2 3 5 8

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [18]:
times2 = lambda var: var*2
times2(2)

4

In [12]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

## map and filter

In [20]:
seq = [1,2,3,4,5]

In [22]:
map(times2,seq)

In [23]:
for i in map(times2,seq):
    print(i)

2
4
6
8
10

In [24]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Modules

In [14]:
from math import exp
exp(1e-5) - 1

1.0000050000069649e-05

In [15]:
from math import *
exp(1e-5) - 1

1.0000050000069649e-05

In [16]:
# Preferred
import math 
math.exp(1e-5) - 1

1.0000050000069649e-05

In [17]:
# Preferred if the library name is long and you used it often
import math as m 
m.exp(1e-5) - 1

1.0000050000069649e-05